ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(76, 234, 120);
  }

  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(28, 14, 136);
  }
  body {
    background-image: url('./images/vegetable-plant-aquaponics-system-fresh-green-organic-healthy-good-environment-152796069.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .txt1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    font-size: 50px;
    background-image:linear-gradient(green,red);
    color: transparent;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position:-800px 0;
    animation: anima 8s linear alternate infinite;
  }
  @keyframes anima{
    90%{
      background-position: 0%, 0%;
    }
  }

.txt {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 50px;
  background-image:linear-gradient(green,red);
  color: transparent;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position:-800px 0;
  animation: anima 8s linear alternate infinite;
}
@keyframes anima{
  90%{
    background-position: 0%, 0%;
  }
}

